/* RealEstate.css */

.property {
    display: inline-block; /* Display property cards horizontally */
    width: calc(33.33% - 20px); /* Adjust width to fit three cards in a row */
    margin-right: 20px; /* Add margin between cards */
    vertical-align: top; /* Align cards to the top */
    border: 2px solid #f1f1f1;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  .property img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .property h3 {
    margin-top: 0;
    font-family: 'Playfair Display', serif;
    color: #333;
    font-size: 20px;
    font-weight: bold;
  }
  
  .property p {
    font-size: 16px;
    color: #666;
  }
  
  .property-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .property-price {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .property-more-info {
    font-size: 16px;
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .property-more-info:hover {
    color: #0056b3;
  }
  